<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>INAlternativeAppNames</key>
	<array>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Trails</string>
			<key>INAlternativeAppNamePronunciationHint</key>
			<string>Tray ls</string>
		</dict>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>NSAppIconActionTintColorName</key>
			<string>AccentColor</string>
			<key>NSAppIconComplementingColorNames</key>
			<array>
				<string>ComplementingGradientColor1</string>
				<string>ComplementingGradientColor2</string>
			</array>
		</dict>
		<key>NSMicrophoneUsageDescription</key>
		<string>Use the mic for debugging purposes</string>
	</dict>
</dict>
</plist>
